
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	background-image: url("images/stars.jpg");
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #FFFFFF;
	position:fixed;
	overflow-y:hidden;
	overflow-x:hidden;
	width:100%;
}


a
{
	color: #FFFFFF;
}



#container
{
	position: relative;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: auto;
	background-image: url("images/black.png");
	background-repeat: no-repeat;
	max-width: 800px;
	max-height: 800px;
	
}

#title
{
	position: inherit;
	left: 230px;
	bottom: 25px;;
}

#home
{
	position: relative;
	left: 330px;
	bottom: 15px;
}
 
#play
{
	
	position: relative;
	left: 305px;
	bottom: 35px;
	
}

#controls
{
	
	position: relative;
	left: 270px;
	bottom: 60px;
	
}

#gameplay
{
	
	position: relative;
	left: 290px;
	bottom: 70px;
	
}

#about
{
	position: relative;
	left: 330px;
	bottom: 80px;
}






