
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	background-image: url("images/stars.jpg");
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #FFFFFF;
}


a
{
	color: #FFFFFF;
}




#banner
{
	background-image: url("images/black.png");
	background-repeat: no-repeat;
	left: 300px;
	top: 50px;
	background-size: 750px 500px;
	position: fixed
}

#banner1
{
	position: relative;
	padding: 100px 400px 400px 400px;
}

#title
{
	position: fixed;
	left: 500px;
	bottom: 450px;
}
#play
{
	
	position: fixed;
	left: 580px;
	bottom: 350px;
	
}
#faq
{
	position: fixed;
	left: 600px;
	bottom: 265px;
}
#about
{
	position: fixed;
	left: 580px;;
	bottom: 175px;
}






