
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	background-image: url("images/stars.jpg");
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #FFFFFF;
}


a
{
	color: #FFFFFF;
}



#backimage
{
	position: fixed;
	left: 500px;
	bottom: 200px;
}
#title
{
	position: fixed;
	left: 610px;
	bottom: 550px;
}
#play
{
	
	position: fixed;
	left: 750px;
	bottom: 450px;
	
}
#faq
{
	position: fixed;
	left: 810px;
	bottom: 355px;
}
#about
{
	position: fixed;
	left: 760px;;
	bottom: 255px;
}






