
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	background-image: url("images/stars.jpg");
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #FFFFFF;
	position:fixed;
	overflow-y:hidden;
	overflow-x:hidden;
	width:100%;
}


a
{
	color: #FFFFFF;
}



#container
{
	position: relative;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-image: url("images/black.png");
	background-repeat: no-repeat;
	max-width: 400x;
	max-height: 400px;
	top:50px;
	left:300px;
	
}

#title
{
	position: inherit;
	left: 130px;
	top: 25px;
}

#instructions
{
	position: inherit;
	left: 200px;
	bottom: 450px;
}

#next
{
	position: inherit;
	left: 700px;
	bottom: 320px;
}

#home
{
	position: relative;
	left: 0px;
	bottom: 340px;
}
 
#faq
{
	position: relative;
	left: 5px;
	bottom: 350px;
}





